version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: plantao-DB

    environment:
      POSTGRES_DB: plantao
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: