basePath: /
host: localhost:8080
info:
  contact: {}
  description: Exemplo básico de API documentada com Swagger
  title: API em Go com Gin e Swagger
  version: "1.0"
paths:
  /users:
    get:
      description: Retorna um usuário fictício
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Exemplo de rota de usuário
      tags:
      - users
swagger: "2.0"
